<div class="row">
  <div>Select a search type</div>
  <select class="search-type">
    <option>ItemSearch</option>
  </select>
</div>

<div class="row">
  <div>Enter a search term</div>
  <input class="search-term"></input>
</div>

<div class="row">
  <div>Enter some options</div>
  <div>
    <input class="option1-key"></input>
    <input class="option1-value"></input>
  </div>
  <div>
    <input class="option2-key"></input>
    <input class="option2-value"></input>
  </div>
  <div>
    <input class="option3-key"></input>
    <input class="option3-value"></input>
  </div>
  <div>
    <input class="option4-key"></input>
    <input class="option4-value"></input>
  </div>
  <div>
    <input class="option5-key"></input>
    <input class="option5-value"></input>
  </div>
</div>

<div class="row">
  <button class="search-button">Search</button>
</div>